<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de Templates no Django</title>
    <style>    
        body {
            background-color: black;
            font-family: Arial, Helvetica, sans-serif;
        }

        h1 {
            color: white;
            text-align: center;
        }

        p {
            color: white;
        }

        iframe {
            display: block;
            margin: 20px auto;
        }
    </style>
</head>
<body>
    <h1>Teste de Templates no Django</h1>
    <p>Olá Mundo, eu sou um template</p>
    <p>Meu nome é: {{nome}}</p>
    <p>O curso que eu faço é: {{curso}}</p>


    <p>Este video abaixo é um exemplo de como usar o Django para criar um templantes 👇🐍</p>

    <p><iframe width="560" height="315" src="https://www.youtube.com/embed/4SCjXcBeW1E?si=zn18r6dd-hrvmMCy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </p>

</body>
</html>