<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste de models no Django</title>
</head>
<body>
    <h1>Ola eu sou o Mario e Aqui embaixo estão os livros que eu tenho</h1>

    <h2>Lista de Livros: </h2>
    
    {% for n in livros %}
        <p>Nome do autor: {{n.autor.nome}}</p>
        <p>Nacionalidade: {{n.autor.nacionalidade}}</p>
        <p>Ano de publicação: {{n.ano_publicacao}}</p>
        <p>Data de nascimento do autor: {{n.autor.data_nascimento}}</p>
        <p>Genero: {{n.genero}}</p>
    {% endfor %}

    <hr>

    <button><a href="{% url 'adicionar_livro' %}">Adicionar Livro</a></button>
    
    {% for livro in livros %}
    <p>Título: {{ livro.titulo }}</p>
    <p>Autor: {{ livro.autor.nome }}</p>

    <a href="{% url 'editar_livro' livro.id %}">Editar</a>

    <form method="post" action="{% url 'apagar_livro' livro.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Apagar Livro</button>
    </form>

    <hr>
    {% endfor %}

    
</body>
</html>